.tab-name {
    font-size: 40px;
}

.tab-content {
    padding: 25px;
    max-height: calc(100vh - 240px);
    overflow-y: auto !important;
    font-family: 'New Rocker', cursive !important;
}
.tab-content.mobile .tab-name {
    font-size: 35px;
}
.responsibilities {
    font-size: 25px;
}

.tab-list {
    flex-direction: column;
    list-style: circle;
    padding-left: 25px;
}