.container {
    background-color: white;
    height: 100vh;
}

.parent-container {
    height: calc(100% - 65px);
    display: flex;
}

.nav-container {
    height: 65px;
}

.MuiToolbar-root {
    height: 50px;
    background-color: black;
}