.skills-container {
    width: 65%;
    margin-top: 10px;
    border: solid black 2px;
    font-family: 'New Rocker', cursive !important;
    
}

.skills-tab {
    font-family: 'New Rocker', cursive !important;
}

.skills-container.mobile {
    width: 95%;
}
.MuiTabs-indicator {
    background-color: white !important;
}