.skills-container {
    width: 65%;
    margin-top: 10px;
    border: solid black 2px;
}

.skills-container.mobile {
    width: 95%;
}
.MuiTabs-indicator {
    background-color: white !important;
}