.about {
    height: 100%;
    overflow-y: auto !important;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.image img {
    border-radius: 50%;
    height: 225px;
    border: 2px black solid;
}
.about.mobile img {
    height: 175px;
}
.title {
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.name {
    font-size: 24px;
}

.description {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 10px auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}
li {
    margin: 0px 5px;
}
.close {
    position: absolute;
    top: 10px;
    left: 90%;
}